<<<<<<< HEAD

<h1>Greetings, <strong>Neil Desai</strong> is good.</h1>



<h1>Greetings, <strong>Josh Nixon</strong> is good.</h1>


<h1>Greetings, <strong>Josh Nixon</strong> and <strong>Luke Chirayil</strong> are ok. Even though he skips ahead</h1>

<h1>Greetings, <strong>Victor Fuentes</strong> is okay.</h1>

<h1>Greetings, <strong>Jacque DesMarais</strong> is good.</h1>






<h1>Greetings, <strong>Josh Nixon</strong> and <strong>Luke Chirayil</strong> are ok. Even though he skips ahead</h1>

